* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-div {
  scroll-behavior: smooth;
}

a {
  color: #333;
  text-decoration: none;
}



.main-header {
  height: 53vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.main-header video {
  width: -webkit-fill-available;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #000000;
}

.main-header p {
  font-size: 2rem;
}

img {
  width: 360px;
}

video {
  width: 360px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
  width: 20rem;
  height: 25rem;
  background-size: cover;
  background-color: black;
  border-radius: 20px;
  background-position: center center;
  overflow: hidden;
}


.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 400px;
}

.card>div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media(max-width:600px) {
  .card {
    display: block;
  }
}

.card__inner {
  color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  padding: 2rem 1.3rem 2rem 2rem;
  transition: all 0.4s ease 0s;
  background-color: rgba(0, 0, 0, 0.9);
}

/*  On hovering card opacity
  of content must be 1*/
.card:hover .card__inner {
  opacity: 1;
}

/*  General property for heading
  and paragraph*/
.card__inner h2 {
  margin-top: 1rem;
}

.card__inner p {
  overflow-y: hidden;
  height: 87%;
  padding-right: 1rem;
  font-weight: 200;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

.card__inner span {
  overflow-y: hidden;
  height: 87%;
  color: white;
  padding-right: 1rem;
  font: small-caps bold 29px/1 sans-serif;
  line-height: 23.5rem;
  margin-top: 20.5rem;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

#about {
  padding: 1rem;
  margin: 1rem;
  position: absolute;
  font: small-caps bold 21px/1 sans-serif;
}

#style {
  padding-left: 5.7rem;
}


#digitalArt {
  padding-left: 1.7rem;
}

#paintings {
  padding-left: 3.9rem;
}


#press {
  padding-left: 5rem;
  margin: 2rem;
  position: absolute;
  font: small-caps bold 21px/1 sans-serif;
}

#macba {
  padding-left: 1.9rem;
  font-size: 1.034rem;
}

#miCuerpoElectrico {
  padding-left: 1.9rem;
  font-size: 1.034rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

#down {
  margin-top: 41%;
  padding-bottom: 25%;
  max-width: 1091px;
  margin: auto;
  overflow: auto;
  padding: 376px 2rem;
}

.header-down-arrow {
  position: absolute;
  bottom: 4vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 1s 1s ease-out forwards;
  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }

  50% {
    opacity: .8;
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 1s 1s ease-out forwards,
    pulse 2s 3s ease-out infinite;
  opacity: 0;
  width: 11rem;
}

.header-down-arrow {
  animation: pulse 2s 3s ease-out infinite;
  position: absolute;
  bottom: 4vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.chevron {
  min-height: 90%;
}

.feature-card-footer {
  padding: 0.75rem 1.25rem;
  margin-top: -2.5rem;
}
