/* General Reset and Box Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-top: 1px;
  margin-bottom: 0rem;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Footer Styles */
footer {
  text-align: center !important;
  padding: 20px 0 !important;
  position: relative !important;
  width: 100% !important;
}

footer p {
  margin: 0 !important;
  padding: 10px 0 !important;
  font-size: 1rem !important;
  color: #9b8d8d !important;
}

/* Card Footer */
.feature-card-footer {
  text-align: center;
  padding: 0.75rem;
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
  width: 100%;
  position: relative;
  z-index: 1000;
}

/* Main Content Styling */
main.container {
  margin-left: 220px;
  padding: 20px;
  max-width: calc(100% - 220px);
  margin-bottom: 80px;
}

/* Cards Grid Layout */
.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  max-width: 1200px;
  margin: 2rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.card img {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-10px);
}

/* Sidebar Styles */
.sidebar {
  width: 301px;
  background-color: #f4f4f4;
  padding: 19px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.3s ease;
}

.sidebar ul {
  padding-left: 0rem;
  list-style-type: none;
}

/* Sidebar Links */
.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 1.4;
}

.sidebar ul li {
  padding: 10px 0;
  /* Add space between items */
}

.sidebar ul li ul.dropdown-content li {
  padding-left: 30px;
  /* Indent dropdown items further */
}


.sidebar ul li a.active {
  color: white;
  background-color: black;
  font-weight: bold;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.sidebar ul li a.dropdown-toggle {
  cursor: pointer;
}

.sidebar ul li.open .dropdown-content {
  display: block;
  padding-top: 2rem !important;
}

/* Modal and Image Box Styles */
.materialboxed.active {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 70% !important;
  max-width: 90% !important;
  height: auto !important;
  z-index: 1000 !important;
}

.materialbox-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.materialboxed {
  cursor: zoom-in;
}

.materialboxed-close {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  z-index: 1001;
  display: none;
  cursor: pointer;
}

/* Burger Menu Button */
.burger-menu {
  font-size: 30px;
  background-color: transparent !important;
  /* Ensure it doesn't have a background */
  color: #000000;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 10px;
  /* Adjust left position to align */
  z-index: 1001;
  display: none;
  /* Ensure burger menu is visible */
}

/* Overlay Effect */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* Responsive Media Queries */
@media (max-width: 900px) {
  .sidebar {
    width: 200px;
  }

  main.container {
    margin-left: 200px;
    max-width: calc(100% - 200px);
    margin-bottom: 60px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 160px;
  }

  main.container {
    margin-left: 48px;
    max-width: calc(118% - 160px);
    margin-bottom: 50px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card img {
    height: auto;
    object-fit: cover;
  }

  .feature-card-footer {
    margin-top: 0;
    height: auto;
    font-size: 0.8rem;
    padding: 0.1rem;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .sidebar {
    left: -100%;
    width: 100%;
    transition: 0.5s ease;
  }

  .sidebar.active {
    left: 0;
  }

  main.container {
    margin-left: 45px;
    max-width: calc(128% - 187px);
  }

  .sidebar.active ul {
    margin: -2rem;
    padding-top: 4rem;
    padding-left: 20px !important;
  }

  .sidebar.active ul li {
    padding-left: 30px;
    padding-top: 10px !important;
    font-size: 18px;
    line-height: 1.4;
  }

  .sidebar ul li:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-left: 41px;
  }

  .sidebar ul li:not(:first-child) {
    margin-left: 40px;
  }

  .dropdown-content {
    padding-left: 0px;
  }

  .li-title {
    padding-left: 1px;
  }

  .sidebar.active ul {
    font-size: 17px;
  }
}

@media (min-width: 900px) {
  .card.large {
    grid-column: span 2;
    grid-row: span 2;
  }

  .card.medium {
    grid-column: span 2;
  }
}

@media (max-width: 899px) {

  .card.large,
  .card.medium {
    grid-column: span 1;
    grid-row: span 1;
  }
}